#root {
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-content: stretch;
}

.column {
    flex: 0 0 40%;
    padding: 20px;
}

#codeEditor {
    font-family: monospace;
    font-size: 13px;
}

#canvas {
    border-style: solid;
    border-width: thin;
    border-color: blueviolet;
}

#errorMsg {
    border-style: solid;
    border-width: thin;
    border-color: red;
}

#programList {
    border-style: solid;
    border-width: thin;
    border-color: green;
}

.procDef {
    font-weight: bolder;
}

.procDef:hover {
    background-color: aqua;
}

.procRef {
    text-decoration-line: underline;
}

.procRef:hover {
    background-color: aqua;
}

.procHover {
    background-color: aqua;
}
