#root {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    font-family: sans-serif;
    font-size: medium;
}

.column {
    flex: 0 0 45%;
    padding: 2%;
}

/* Code editor */

#codeEditor {
    font-family: "Cascadia Mono", Menlo, "Ubuntu Mono", monospace;
    border: thin solid #bbb;
    padding: 0.5rem;
}

/* Canvas */

#canvas {
    border: thin solid fuchsia;
    border-radius: 5px;
    background-color: #141414;
    width: 600px;
    height: 600px;
}

/* Error list */

#errorList {
    border: thin dashed red;
}

#errorList li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#errorList li::before {
    content: '\26A0';
    margin-left: -20px;
    margin-right: 10px;
}

/* Program list */

#programList {
    border: thin dashed green;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Cascadia Mono", Menlo, "Ubuntu Mono", monospace;
}

#programList ul {
    padding-left: 20px;
    border-left: medium solid grey;
}

.procList li {
    list-style-type: none;
}

.procDef {
    font-weight: bolder;
}

.procDef:hover {
    background-color: aqua;
}

.procRef {
    text-decoration-line: underline;
}

.procRef:hover {
    background-color: aqua;
}

.procHover {
    background-color: aqua;
}

/* Manual */

.codeDisplay {
    font-family: "Cascadia Mono", Menlo, "Ubuntu Mono", monospace;
    font-size: small;
}

#manual {
    border: thin solid #bbb;
    padding: 0.5rem;
}

#manual summary {
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    padding: 0.25rem;
}

#manual[open] summary {
    border-bottom: thin solid #bbb;
}
